<div class="px-4 py-2">
    <div class="container mx-auto">
        <div class="flex justify-between items-center">
            <div class="text-2xl font-bold">
                <a href="/">Lagging Kings</a>
            </div>
            <div class="flex items-center gap-4">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/Contact">Contact</a>
            </div>
            <div class="flex gap-4">
                <button type="button" class="bg-black text-white px-4 py-2 rounded-md cursor-pointer hover:bg-white hover:border-2 hover:text-black">Sign In</button>
                <button type="button" class="border-2 border-black text-black px-4 py-2 rounded-md cursor-pointer hover:bg-black  hover:text-white">
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</div>